body{
	background-color: white;
}
.container{
	text-align: center;
	background-color: white;
	opacity:0.85;
}
img{
	height:180px;
	width:240px;
	margin-left:-20px;
}
input{
	height:50px;
	width: 200px;
}

p1, p2, p3{
	font-size: 20px;
	font-family: cursive;
}


h1 {
	color: #2EB82E;
	text-shadow: 2px 2px #99FF66;
	font-size: 60px;
	font-family: cursive;
	font-weight: bold;
}

.cold {
	font-family: Rancho;
	font-size:25px;
	text-shadow: 0.04em 0.04em #FFFFFF, 0.08em 0.08em #1ba29a;
}

table{
	margin:auto;
	margin-top: 10px;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: left;
	border: 1px solid grey;
	width: auto !important;
	width: 10%;
}

th {
	background-color: #3399FF; 
	color:white;
}
